# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
.env

# Keep data private
Inputs/*.txt
Inputs/*.csv
Inputs/*.xlsx
Inputs/*.xls
Outputs/*

# Allow placeholders
!Inputs/.gitkeep
!Outputs/.gitkeep
